<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BasicSuite">
    <test verbose="2" preserve-order="true" name="SeleniumAutomationOrangeHRM">
        <classes>
            <class name="com.crm.testcases.Login"></class>
        </classes>
    </test>
</suite>